@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

/* remove spaces between sections */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Resize images to fit container */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(255, 165, 0);
}
.container {
  width: 90%;
  /* make element automatically adjust its height to fit the contents with auto value */
  height: auto;
  /* max-width ensures that the width above never exceeds 1200px */
  max-width: 1000px;

  /* top and bottom margins 0 and left-right auto to make sure they are both equal, 0 auto centralizes element within container */
  margin: 0 auto;
}
.brand {
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}

form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(233, 233, 233);
  border-radius: 6px;
}

form input {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}

form ion-icon {
  width: 9%;
  font-size: 3rem;
  /* center the search icon vertically using negative margin */
  margin: -10px;
  color: rgb(75, 75, 75);
}

.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
}
.item {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  padding: 15px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.item .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .title {
  color: whitesmoke;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400;
}

.view-button {
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: #404041;
  color: white;
  font-size: 1.4rem;
  margin-top: 20px;
  align-self: flex-start;
}

.item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
}
.small-item-data {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}
/* .view-ingredients {
  position: absolute;
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px;
  background-color: #404041;
  color: white;
  font-size: 1.4rem;
  margin-top: 10px; */

/* align-self: flex-end; */
/* } */

/* p.ingredients {
  display: none;
} */

.ingredients {
  padding: 10px;
  margin-top: 15px;

  color: white;
  border: none;
  outline: none;
}
.view-ingredients {
  padding: 15px;
  margin: 45px 85px;
  background-color: #404041;
  color: white;
  border: none;
  outline: none;
  font-size: 1.4rem;
  width: 150px;
}

.container.initial .brand {
  font-size: 7rem;
}

.container.initial form {
  max-width: 800px;
}
.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .search-result {
    grid-gap: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }
  .container.initial form {
    max-width: 500px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
}
